<!-- app/views/tasks/_form.html.erb -->

<%= form_with(model: task, local: true) do |form| %>

  <div class="field">
   <p><%= form.label :title, t("new_task.form_labels.title") %></p>
    <%= form.text_field :title %>
  </div>

  <div class="field">
   <p><%= form.label :content, t("new_task.form_labels.content") %></p>
    <%= form.text_area :content %>
  </div>
  
<!-- アプリケーションの国際化 -->
   <%if task.new_record? %>
   <%= form.submit t("new_task.create_button"), id:'create-task' %>
   <% else %>
   <%= form.submit t("edit_task.update_button"), id:'update-task' %>
   <% end %>
 </div>
 
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %>が原因でこの記事を保存できませんでした</h2>
  
    <ul>
      <% @task.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% end %>

