<!-- app/views/tasks/_form.html.erb -->

<%= form_with(model: task, local: true) do |form| %>

  <div class="field">
   <p><%= form.label :title, t("new_task.form_labels.title") %></p>
    <%= form.text_field :title %>
  </div>

  <div class="field">
   <p><%= form.label :content, t("new_task.form_labels.content") %></p>
    <%= form.text_area :content %>
  </div>
<!-- 終了期限 追記-->
  <div class="field">
   <p><%= form.label :deadline_on, t("new_task.form_labels.deadline_on") %></p>
    <%= form.date_field :deadline_on %>
  </div>

<!-- 優先度 追記-->
  <div class="field">
   <p><%= form.label :priority, t("new_task.form_labels.priority") %></p>
    <%= form.select :priority,
     options_for_select([]+Task.priorities.keys.map { |k| [t("new_task.priorities.#{k}"), k] }), 
      { include_blank: true } %>
  </div>

<!-- ステータス 追記  ステータスの検索フォームのデフォルト値は空欄-->
  <div class="field">
   <p><%= form.label :status, t("new_task.form_labels.status") %></p>
  <%= form.select :status, 
    options_for_select([]+Task.statuses.keys.map { |k| [t("new_task.statuses.#{k}"), k] }), { include_blank: true } %>
  </div>
  
  <!-- ラベルのチェックボックス -->
  <div class="field">
   <p><%= form.label :label_ids, "ラベル" %></p>
    <% Label.all.each do |label| %>
      <div class="checkbox">  
      <%= form.check_box :label_ids, { multiple: true, include_hidden: false }, label.id, nil %>
      <%= label.name %>
    </div>
    <% end %>
  </div>  
  

  
<!-- アプリケーションの国際化 -->
   <%if task.new_record? %>
   <%= form.submit t("new_task.create_button"), id:'create-task' %>
   <% else %>
   <%= form.submit t("edit_task.update_button"), id:'update-task' %>
   <% end %>
 
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %>が原因でこの記事を保存できませんでした</h2>
  
    <ul>
      <% @task.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

