<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- グローバルナビゲーションの作成 -->
  <!-- コンテンツの主要なナビゲーション部分を識別するため<nav>を使用する -->
  <!-- アプリの国際化の設定 -->
  <body>
    <header>
      <nav class= "navbar navbar-expand-lg navbar-light bg-light">
        <a class= "navbar-brand" href="#">CdpWebManyoTask</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <ul class="navbar-nav ml-auto">
        <div class="navbar-nav">

        <% if logged_in? %>
          <% if current_user.admin? %> <%# 管理者か一般ユーザーかを確認 %>
            <!-- 管理者の場合のリンク -->
            <%= link_to "ユーザ一覧", admin_users_path, id:"users-index",class: 'nav-item nav-link' %>
            <%= link_to "ユーザを登録する", new_admin_user_path, id:"add-user",class: 'nav-item nav-link', data: { turbolinks: false } %>
          <% end %>

          <!-- 共通のリンク -->
           <%= link_to t("global_navigation.tasks_index_link"), tasks_path, id:'tasks-index',class: 'nav-item nav-link' %> 
          <%= link_to t("global_navigation.new_task"), new_task_path, id:'new-task',class: 'nav-item nav-link' %>
          <%= link_to "ラベル一覧", labels_path, id:"labels-index",class: 'nav-item nav-link' %>
          <%= link_to "ラベルを登録する", new_label_path, id:"new-label",class: 'nav-item nav-link' %>
          <%= link_to "アカウント設定", user_path(current_user), id:"account-setting" ,class: 'nav-item nav-link'%>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete, id:"sign-out" ,class: 'nav-item nav-link'%>
        <% else %>
         <!-- ログインしていない場合のリンク -->
          <%= link_to "アカウント登録", new_user_path, id:"sign-up",class: 'nav-item nav-link'%>
          <%= link_to "ログイン", new_session_path, id:"sign-in",class: 'nav-item nav-link' %>
        <% end %>
        </div>
      </nav>
    </header>
 <!-- フラッシュメッセージ -->
    <% flash.each do |message_type, message| %>
     <div class="flash-message <%= message_type %>"><%= message %></div>
   <% end %>
  <!-- コンテンツ -->
   <div class ="container">
    <%= yield %>
    </div>
 <!-- BootstrapのJavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
  </body>
</html>
