<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- グローバルナビゲーションの作成 -->
  <!-- コンテンツの主要なナビゲーション部分を識別するため<nav>を使用する -->
  <!-- アプリの国際化の設定 -->
 <nav> 
<li> <%= link_to t("global_navigation.tasks_index_link"), tasks_path, id:'tasks-index' %> </li>
<li><%= link_to t("global_navigation.new-task"), new_task_path, id:'new-task' %></li>
 </nav>

    <% flash.each do |message_type, message| %>
     <div class="flash-message <%= message_type %>"><%= message %></div>
   <% end %>

    <%= yield %>
  </body>
</html>
